[user]
    name = berkayinceisci
    email = inceisciberkay@gmail.com

[core]
    pager = delta
    editor = vim
    # fsmonitor = true
    fsmonitor = false
    untrackedCache = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[diff]
    algorithm = histogram
    mnemonicPrefix = true
    renames = true

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[init]
    defaultBranch = main

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

# Enforce SSH
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[pull]
    rebase = true

[merge]
    # conflictstyle = zdiff3 
    conflictstyle = diff3 

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true
