[user]
    name = inceisciberkay
    email = inceisciberkay@gmail.com

[core]
    pager = delta
	editor = vim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[init]
	defaultBranch = main

# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
