[Unit]
Description=Update weather every 1 minute
Requires=weather-update.service

[Timer]
OnBootSec=30sec
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
